:root {
	--inheritsFromText: "blah";
}

/*body {
	justify-content: center;
	align-items: center;
	min-width: 700px;
	background-color: rgb(245, 247, 238);
	padding: 0;
	margin: 0;
}*/

/* fixme this is a mess, redesign using flex boxes */

  .optionDisabled, .optionEnabled
  {
	border: 2px solid rgba(128, 128, 128, 0.411);
	border-radius: 5px;	
	width: 100%;
	padding: 0;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 25px;

	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	padding-bottom: 40px;
  }
  
  .optionEnabler
  {
	  display: inline-block;
	  width: 30px;
	  padding: 0 !important;
	  margin: 0 !important;
	  vertical-align: top;
	  transform: scale(2);
	  cursor: pointer;
	  margin-left: 10px !important;
	  margin-top: 20px !important;
  }

  .optionHeader
  {
	display: inline-block;
	font-weight: bold;
	width: 90%;
	text-align: left;
	border-bottom: 1px solid rgba(128, 128, 128, 0.459);
	padding: 0;
	margin: 0;
	vertical-align: top;
	color: rgb(185 185 166);
	margin-right: 10px;
	margin-top: 15px;
	padding-bottom: 5px;
	padding-left: 20px;
	font-size: 15px;
}

.vscode-dark .optionHeader
{
	color: rgb(163, 167, 150);
}

  .optionContent
  {
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-left: 80px;
	margin-top: 10px;
}

.optionContentInner
{
	display: inline-block;
}

.optionDisabled .optionContent
{
	width: auto;
}

.optionDisabled .optionContentInner
{
	pointer-events: none; 
}

.optionDisabled .optionHeader::after
{
	content: var(--inheritsFromText);
	width: auto;
	font-size: 80%;
	float: right;
	font-style: italic;
}

.vscode-dark .optionDisabled .optionContent::after
{
	color: rgb(155, 137, 172);
	
}

  .optionDescription, .optionErrors, .optionSaveWarning
  {
	  font-style: normal;
	  font-size: 14px;
	  padding: 0;
	  margin: 0;
	  margin-left: 80px;
	  margin-right: 30px;
  	  padding-top: 10px;
  }

  .optionSaveWarning
  {
	font-weight: bold;
    color: rgb(181 94 94);
    background-color: #222222;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
  }


  .optionErrors
  {
	  font-weight: bold;
	  color: rgb(80, 22, 22);
	  background-color: rgb(202, 202, 148);
	  margin: 5px;
	  padding: 10px;
	  margin-left: 80px;
	  margin-right: 20px;
	  border-radius: 5px;
  }

  .optionErrors:empty
  {
	  display: none;
  }

  .optionContentInner, .optionContentInner:focus
  {
	  padding: 2px;
	  margin: 0;
	  border: 1px solid rgb(129, 128, 128);
	  outline: 0 !important;
  }

  .optionContentInnerText
  {
	  aheight: 10px;
  }

.configEditorContainer input[type="text"], .configEditorContainer input[type="number"], .configEditorContainer textarea {
	background-color: white;
	  color: black;
	  outline: 1px solid rgb(173, 173, 173);
	  padding: 2px;	  
	  border-radius: 4px;
	  padding-left: 5px;
  }

  .configEditorContainer input[type="text"]:disabled, .configEditorContainer input[type="number"]:disabled, .configEditorContainer textarea:disabled {
	background-color: rgba(255, 255, 255, 0.582);
	  color: rgb(73, 73, 73);
  }

  .references, .references:focus
  {
	  width: 470px;
	  margin-left: 80px;
	  min-height: 180px;
	  margin-bottom: 10px;
	  overflow-x: auto;
  }

  .selectedReferenceInfo
  {
	width: 470px;
    margin-left: 20px;
    background-color: #9f9f9233;
    vertical-align: top;
    border: 1px dashed white;
    border-radius: 10px;
    color: white;
    padding: 10px 0;
    display: none;
    margin-right: 10px;
    text-align: left;
    flex-grow: 1;
    display: none;
    flex-grow: 1;
    width: calc(100% - 584px);
	height: fit-content;
	min-width: 380px;
  }

  .referenceSearchButton:hover
  {
	  border-radius: 3px;
	  filter: hue-rotate(180deg);
  }

  .referenceSearchButton, .referenceSearchButtonClear, .referenceSearchButtonClearInvisible
  {
	  float: right;
	  margin-right: 5px;
	  cursor: pointer;
	  width: 18px;
	  height: 18px;
	  background-image: url(images/magnify.png);
	  background-size: cover;
  }

  .referenceSearchButtonClear
  {
	background-image: url(images/magnifyCancel.png);
  }

  .referenceSearchButtonClearInvisible
  {
	  visibility: hidden;
  }

  input.referencesSearchBox, input.referencesSearchBoxTransparent 
  {
    width: 135px;
    position: absolute;
    background-color: #818181;
    border-radius: 10px;
    height: 23px;
    left: 400px;
    border: 2px solid #434342;
    color: white;
    margin-top: 5px;
    padding: 0 10px;
	outline: none !important;
	opacity: 1;
	transition: opacity 0.5s;
    font-weight: bold;
}

input.referencesSearchBoxTransparent
{
	opacity: 0;
}



  .selectedReferenceInfoLabel
  {
	display: inline-block;
	width: 140px;
	  text-align: right;    
	  color: #aba6a6;
	  user-select: none;
  }

  .selectedReferenceInfoValue
  {
	display: inline-block;
    margin-left: 10px !important;
    max-width: calc(100% - 160px);
    overflow-wrap: anywhere;
    vertical-align: top;
  }

input.selectedReferenceInfoValue
  {
	height: 18px;
  }

  .referencesAvailable, .referencesAvailable:focus
  {
	  width: 470px;
	  margin-left: 80px;
	  display: inline-block;
	  margin-bottom: 10px;
	  overflow-x: auto;
  }

  .references::-webkit-scrollbar-corner,
  .referencesAvailable::-webkit-scrollbar-corner
  {
  	background-color: transparent;
  }


  .referencesAvailableHeader
  {
	  width: 462px;
	  text-align: center;
	  padding: 0px;
	  font-weight: bold;
	  
	  display: block;
	  background: #8f99a5;
	  color: black;
	  border-top-left-radius: 8px;
	  border-top-right-radius: 8px;
	  margin-left: 80px;
	  font-size: 12px;
	  padding: 4px;
	  box-sizing: content-box;
  }

  .row
  {
	  width: auto;
	  
	  display: flex;
  }

  .referencesButtons
  {
    margin-left: 5px;
    width: 30px;
  }

  
  .referencesUp, .referencesDown
  {
	width: 25px; 
	font-size: 30px; 
	display: inline-block;
	margin-bottom: 5px;
	background-color:rgb(80, 113, 204);
	border: 0;
    cursor: pointer;
  }

  .referencesUp
  {
	background-image: url(images/arrow-up-line.png);
    background-repeat: no-repeat;
    height: 40px;
    background-position: center;
    border-radius: 5px;
  }

  .referencesDown
  {
	background-image: url(images/arrow-down-line.png);
    background-repeat: no-repeat;
    height: 40px;
    background-position: center;
    border-radius: 5px;
  }

  
.referencesUp:hover, .referencesDown:hover
{
	background-color:rgb(125, 150, 221);
}

  .references_CONTENT
  {
	  width: 480px;
  }
  .referencesContainer
  {
	display: inline-block; 
}

  .filter
  {
	font-size: 12px; 
	padding: 0; 
	margin: 0; 
	padding-left: 10px; 
	width: 150px; 
	height: 20px; 
	border-radius: 5px; 
	border: 1px solid grey;
	margin-bottom: 3px;
	display: inline-block; 
	outline: none;
  }

  .filterIcon
  {
	width: 148px;
	text-align: right; 
	display: inline-block; 
	padding-right: 4px;
  }

  .optionLoadFromFileDiv
  {
	  padding-top: 5px;
	  margin-left: 80px;
	  display: inline-block;
  }

  .optionReferencesTypeDiv
  {
	  padding-top: 5px;
	  display: inline-block;
  }

  .loadFromFile
  {
	width: 150px;
    background-color: rgb(80, 113, 204);
    border: 0;
    padding: 5px;
    color: white;
    cursor: pointer;
  }

  .referenceTypeButton, .referenceTypeButtonSelected
{
	width: 150px;
    background-color: rgb(80, 113, 204);
    margin-bottom: 25px;
    margin-right: 25px;
    vertical-align: middle;
    border-radius: 5px;
	opacity: 0.6;
	position: relative;
	color: white;
    padding: 5px;
    border: 0;
    cursor: pointer;
}

.referenceTypeButtonSelected
{
	opacity: 1;
}

.COMReferencesDivArrow, .PackagesDivArrow
{
	position: absolute;
    width: 50px;
    left: calc((100% - 50px)/2);
    /* height: 20px; */
    background: transparent;
    font-size: 30px;
    margin-top: 5px;
	user-select: none;
	outline: 0;
    border: 0;
}

.COMReferencesDivArrow
  {
	background-image: url(images/arrow-down-line.png);
    background-repeat: no-repeat;
    height: 40px;
    background-position: center;
    border-radius: 5px;
	filter: invert(1);
  }

  .PackagesDivArrow
  {
	background-image: url(images/arrow-down-line.png);
    background-repeat: no-repeat;
    height: 40px;
    background-position: center;
    border-radius: 5px;
	filter: invert(1);
  }

option 
{
	height: 20px;
}

.referencesAvailableHeaderHeader
{
	display: inline-block;
}

.referenceTypeButton .COMReferencesDivArrow, .referenceTypeButton .PackagesDivArrow
{
	display: none;
}

.loadFromFile:hover, .importPackage:hover, .referenceTypeButton:hover, .referenceTypeButtonSelected:hover
{
	background-color:rgb(125, 150, 221);
}

.applyChanges
  {
	width: 150px;
	display: inline-block;
}

.discardChanges
  {
	width: 150px;
	display: inline-block;
	padding-left: 20px;
}

.configHeader
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(169, 175, 150);
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.options
{
	margin-top: 0;
}

.configuration\.name_ENABLER, .configuration\.inherits_ENABLER, .project\.id_ENABLER, .project\.name_ENABLER, .project\.references_ENABLER, .compiler\.target_ENABLER, .project\.warnings_ENABLER
{
	visibility: hidden;
}

.project\.buildPath_TEXT, .project\.description_TEXT, .project\.id_TEXT, .project\.conditionalCompilationArguments_TEXT, .project\.exportPath_TEXT
{
	width: 550px;
}

.project\.id_TEXT
{
	display: inline-block;
}

body.vscode-dark 
{
	background-color:transparent;
	margin: 20px;
}

.vscode-dark .optionDisabled
{
	background-color: rgb(0, 0, 0);
}

.vscode-dark .optionEnabled
{
	background-color: rgba(231, 231, 231, 0.164);
}

.vscode-dark .optionDisabled
{
	background-color: rgba(71, 70, 70, 0.164);
}

.warningOptions
{
	max-height: 300px; 
	background: white; 
	color: black; 
	overflow: auto; 
	white-space: nowrap;

	margin-left: 80px;
	margin-right: 80px;
	width: calc(100% - 160px);
	padding: 5px;
}

.warningDescription
{
	display: inline-block;
	padding-left: 20px;
}

.warningState, .warningState:focus
{
	display: inline-block;
	width: auto;
	border: 1px solid grey;
}

.refreshButton
{
	border-radius: 5px;
	font-size: 25px;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
	padding: 4px;
}

.refreshButton:hover
{
	background-color:rgb(125, 150, 221);
}

.warningNotLoggedIn
{
	cursor: pointer;
    color: rgb(79, 126, 189);
    text-decoration: underline;
    text-underline-offset: 2px;
    font-weight: bold;
    margin-left: 140px;
}

.filterBanner
{
    position: fixed;
    /* margin-top: -35px; */
    background-color: #394572;
    width: calc(100% - 20px);
    z-index: 9999999999;
    height: 57px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #5c5b6a;
    border-left: 2px solid #5c5b6a;
    border-right: 2px solid #5c5b6a;
    box-shadow: 0 2px 15px black;
}

.filterBannerUnderneathSpace
{
    height: 60px;
    margin: 0;
    padding: 0;
}

.filterBar
{
	font-style: italic;
    margin-left: 75px !important;
    width: calc(100% - 190px);
    margin-bottom: 30px !important;
    margin-top: 15px !important;
    /* background-color: white; */
    border-radius: 5px;
    height: 15px;
    padding-left: 10px;
    border: 0;
    outline: 0 !important;
    color: #454444;
    padding-left: 15px !important;
    height: 25px;
}

.invalidOptionConfigValue
{
	background-color: orange;
	color: white;
	border-radius: 5px;
	padding: 10px;
	margin-top: 5px;
}